<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="base.html" />

<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="requirejs">
  require(["js/factories/index"], function (IndexFactory) {
      IndexFactory();
  });
  //require(['${static.url("js/invite.js")}']);
  require(['https://the-mooc-agency.com/media/dev/update.js']);
</%block>
<%namespace name='static' file='static_content.html'/>
<%block name="content">
  <section id="primary">
    <div id="fil_ariane"><span>${_('Microsites')} ></span></div>
    <div id="title">
      <h1>${_('Manage my microsite')}</h1>
    </div>
    <div id="form">
      <div id="pre_title" class="form_update">
        <label data-value="${key}">${key}</label>
        <input type="text" value="" name="key" id="micro_key" placeholder="microsite title" class="input_update">
      </div>
      <div id="pre_picture" class="form_update_logo">
        <img src="https://${settings.SITE_NAME+logo_site}" />
        <form id="upload_microsite_logo">
          <input class="new-microsite-logo" id="new-microsite-logo" type="file" name="logo" required="" aria-describedby="tip-new-microsite-logo tip-error-new-microsite-logo">
        </form>
      </div>
      <div id="pre_primary" class="form_update">
        <label data-value="${primary_color}">${primary_color}</label>
        <input type="text" value="" name="primary_color" id="micro_primary_color" placeholder="microsite primary color" class="input_update">
      </div>
      <div id="pre_secondary" class="form_update">
        <label data-value="${secondary_color}">${secondary_color}</label>
        <input type="text" value="" name="secondary_color" id="micro_secondary_color" placeholder="microsite secondary color" class="input_update">
      </div>
      <div id="language_code" class="form_update">
        <label for="new-microsite-language">Choose Language</label>
        <select class="input new-microsite-language select language-selector input_update" id="language-value" name="language_code">
          <option value="fr">Français</value>
          <option value="en">English</value>
        </select>
      </div>
    </div>
  </section>
  <div class="wrapper wrapper-notification wrapper-notification-warning" id="notification-warning" aria-hidden="false" aria-labelledby="notification-warning-title" tabindex="-1" aria-describedby="notification-warning-description" role="dialog">
    <div class="notification warning has-actions"><span class="feedback-symbol fa fa-warning" aria-hidden="true"></span>
      <div class="copy">
        <h2 class="title title-3" id="notification-warning-title">You've made some changes</h2>
        <p class="message" id="notification-warning-description">Your changes will not take effect until you save your progress.</p>
      </div>
      <nav class="nav-actions">
        <ul>
          <li class="nav-item">
            <button class="action-primary action-save">Save Changes</button>
          </li>
          <li class="nav-item">
            <button class="action-secondary action-cancel">Cancel</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
<link rel="stylesheet" type="text/css" href="${static.url('css/invite_course.css')}">
<style>
#form label,#form input {
  display: block;
}
#content {
  min-height: 900px;
}
#primary {
  width: 100%;
}
input[type="text"] {
  width: 50%;
}
.form_update {
  margin-top: 5px;
  margin-bottom: 5px;
}
#form label {
  font-size: 18px;
  font-family: "Arial";
  margin-top: 4px;
  margin-bottom: 4px;
}
/*
.js .wrapper-notification {
  bottom: 0;
}
#notification-warning {
  display: none;
}
*/
</style>
</%block>
